#gdpr-banner {
  position: fixed;
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background: $white;
  z-index: 10;

  > .card-header {
    padding: 10px 0;
    background: transparent;
    > .container {
      > .row {
        > .col-12 {
          > .card-title {
            margin: 0;
          }
        }
      }
    }
  }
  > .card-body {
    > .container {
      > .row {
        > .col-xs-12 {
          > p {
            font-size: 0.75rem;
            margin: 0;
            padding: 0;
            > a {}
          }

          > .list-inline {
            float: right;
            > .list-inline-item {
              > label {
                font-size: 0.75rem;
              }
            }
          }

         #gdpr-cookie-accept {
            float: right;
          }

        }
      }
    }
  }
}

