@import "../../bootstrap/variables";
@import "bs-select";

#search {
  position: relative;
  margin: 0;
  padding: 25px 20px 10px 20px;
  background: transparentize($green, 0.33);
  border: 2px solid darken($green, 1.33r);
  border-radius: $border-radius;

  .info {
    position: absolute;
    top: auto;
    right: 15px;
    bottom: -10px;
    left: 15px;
    text-align: left;

    @include media-breakpoint-down(lg) {
      bottom: -20px;
    }

    @include media-breakpoint-only(xs) {
      bottom: -40px;
    }

  }

  @include media-breakpoint-down(lg) {
    padding-bottom: 25px;
  }

  @include media-breakpoint-only(xs) {
    padding-bottom: 40px;
  }

}