
/* TABLE OF CONTENTS

1. IMPORT SECTION
2. CUSTOM STYLES



*/


// 1. IMPORT SECTION
@import "../../bootstrap/variables";
@import "../../bootstrap/mixins";


// 2. CUSTOM STYLES
.podcast-slider {
  .owl-carousel {
    height: 300px;

    .show-thumbnail {
      position: relative;
      margin: 0;
      height: 300px;
      width: 300px;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;

      .bottom-line {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: transparentize($gray-700, 0.33);

        > .text {
          margin-top: 50%;
          -webkit-transform: translate(0, -50%);
          -moz-transform: translate(0, -50%);
          -ms-transform: translate(0, -50%);
          -o-transform: translate(0, -50%);
          transform: translate(0, -50%);
          text-align: center;
          color: white;

          h3 {
            color: inherit;
            text-align: inherit;
          }

          h4 {
            color: inherit;
            text-align: inherit;
            font-size: $font-size-base * 0.9;
          }

          &:hover {
            text-decoration: underline;
          }


        }

      }
    }

    .owl-nav {

      .owl-prev {
        left: 0;
      }
      .owl-next {
        right: 0;
      }
    }

  }
}