container_commands:
  01_setup_apache:
    command: "cp .ebextensions/03_enable_mod_deflate.conf /etc/httpd/conf.d/enable_mod_deflate.conf"
  02_migrate:
    command: "source /opt/python/run/venv/bin/activate && python manage.py migrate --no-input"
    leader_only: true
  03_createsu:
    command: "source /opt/python/run/venv/bin/activate && python manage.py createsu"
    leader_only: true
  04_fix_tree:
    command: "source /opt/python/run/venv/bin/activate && python manage.py cms fix-tree"
    leader_only: true
  05_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python manage.py collectstatic --no-input --clear "


option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "jagdreisencheck.settings"
    "PYTHONPATH": "/opt/python/current/app/jagdreisencheck:$PYTHONPATH"
    "ALLOWED_HOSTS": ".jagdreisencheck.de"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: jagdreisencheck/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "static/"