option_settings:
    - option_name: SITE_ID
      value: 1
    - option_name: DEBUG
      value: False
    - option_name: TESTSYSTEM
      value: True
    - option_name: SECRET_KEY
      value: $jylyd#gv(xmx79q%lz87*a#cqb--mm=$6n49^9#*h!+sagu5^
    - option_name: ALLOWED_HOSTS
      value: ['*']
    - option_name: ADMINS
      value: "[('Jagdreisencheck Portal Admin', 'portal.admin@jagdreisencheck.de')]"
    - option_name: REG_KEY
      value: gAAAAABb9ClGjAkYnYcxh1CWtMx_XzFBjWPwrlTI_yyT5Bx30tIpjQYq1_d7hx_W5MdypkbnYqTPjh00fb8GF47440FxmG5YFSCPAx7Qkoxgc1sO77HHlidfpNJs3EnahilXvwjpacf2
    - option_name: SERVER_EMAIL
      value: Jagdreisencheck Web Application <technical.reports@jagdreisencheck.de>
    - option_name: CONTENT_TYPES
      value: ["image", "video"]
    - option_name: MAX_UPLOAD_SIZE
      value: 2621440
    - option_name: SESSION_COOKIE_NAME
      value: JAGDREISENCHECK
    - option_name: SECURE_HSTS_SECONDS
      value: 15768000
    - option_name: SECURE_HSTS_INCLUDE_SUBDOMAINS
      value: False
    - option_name: SECURE_FRAME_DENY
      value: True
    - option_name: SESSION_COOKIE_HTTPONLY
      value: True
    - option_name: SECURE_CONTENT_TYPE_NOSNIFF
      value: Lax
    - option_name: SECURE_BROWSER_XSS_FILTER
      value: True
    - option_name: SESSION_COOKIE_SECURE
      value: True
    - option_name: CMS_PERMISSIONS
      value: True
    - option_name: CMS_TOOLBAR_ANONYMOUS_ON
      value: False
    - option_name: CORS_ORIGIN_ALLOW_ALL
      value: True
    - option_name: CORS_ORIGIN_WHITELIST
      value: ["Access-Control-Allow-Origin"]
    - option_name: CORS_ALLOW_HEADERS
      value: False
    - option_name: CORS_ALLOW_CREDENTIALS
      value: True
    - option_name: CSRF_TRUSTED_ORIGINS
      value: ["stackpath.bootstrapcdn.com", "*.googleapis.com", "*.gstatic.com", "jagdreisencheck.s3.amazonaws.com"]
    - option_name: ROOT_URLCONF
      value: jagdreisencheck.urls
    - option_name: LANGUAGE_CODE
      value: de
    - option_name: TIME_ZONE
      value: Europe/Berlin
    - option_name: USE_I18N
      value: True
    - option_name: USE_L10N
      value: True
    - option_name: USE_TZ
      value: True
    - option_name: AWS_ACCESS_KEY_ID
      value: AKIAIJAXBDMSTSTJV67A
    - option_name: AWS_SECRET_ACCESS_KEY
      value: 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
    - option_name: AWS_STORAGE_BUCKET_NAME
      value: jagdreisencheck
    - option_name: AWS_S3_CUSTOM_DOMAIN
      value: jagdreisencheck.s3.amazonaws.com
    - option_name: AWS_LOCATION
      value: static
    - option_name: DEFAULT_FILE_STORAGE
      value: storages.backends.s3boto3.S3Boto3Storage
    - option_name: STATICFILES_STORAGE
      value: storages.backends.s3boto3.S3Boto3Storage
    - option_name: STATIC_URL
      value: https://jagdreisencheck.s3.amazonaws.com/static/
    - option_name: MEDIA_URL
      value: /media/
    - option_name: CMS_MEDIA_PATH
      value: /cms/
    - option_name: NEWSLETTER_CONFIRM_EMAIL
      value: True
    - option_name: FROM_EMAIL
      value: Jagdreisencheck Brieftaube <brieftaube@jagdreisencheck.de>
    - option_name: GOOGLE_ANALYTICS_PROPERTY_ID
      value: UA-69495926-3
    - option_name: GOOGLE_ANALYTICS_TRACKING_STYLE
      value: 1
    - option_name: GOOGLE_ANALYTICS_DISPLAY_ADVERTISING
      value: True
    - option_name: GOOGLE_ANALYTICS_SITE_SPEED
      value: True
    - option_name: GOOGLE_ANALYTICS_ANONYMIZE_IP
      value: True
    - option_name: GOOGLE_ANALYTICS_SAMPLE_RATE
      value: 10
    - option_name: GOOGLE_ANALYTICS_SESSION_COOKIE_TIMEOUT
      value: 3600000
    - option_name: GOOGLE_ANALYTICS_VISITOR_COOKIE_TIMEOUT
      value: 3600000
    - option_name: THUMBNAIL_DEFAULT_STORAGE
      value: storages.backends.s3boto.S3BotoStorage