@import "../../../../../jagdreisencheck/static/styles/scss/bootstrap/variables";


html, body {
  font-family: $font-family-sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-sans-serif;
}

p {
  font-family: $font-family-sans-serif;
}

a {
  color: $link-color;
  text-decoration: underline;
}



.headline {
  position: relative;
  margin: 0;
  padding: 5px 10px;
  background: $gray-300;
}

.email-title {
  padding: 10px 0 0 0 ;
}