{% extends "base/structure/base.html" %}

{% load i18n staticfiles sekizai_tags %}

{% block title %}{% trans 'Successfully unsubscribed' %}{% endblock title %}

{% block content %}
  <div class="container nav-padding">
    <div class="row">
      <div class="col-xs-12 col-lg-6 offset-lg-3">
        <div class="card">
          <div class="card-body">

            <h1 class="card-title">{% trans 'Successfully unsubscribed' %}</h1>

            <p>
              <i class="fa fa-exclamation-circle"></i>
              {% trans "You have successfully been unsubscribed." %}
            </p>
            <div class="align-center">
              <a href="/" class="btn btn-outline-darkblue">{% trans 'Back' %}</a>
            </div>


          </div>
        </div>

      </div>
    </div>
  </div>

  {% addtoblock 'css' %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/new-styles/newsletter.css' %}"/>
  {% endaddtoblock %}

{% endblock %}