{% load i18n %}

<tr>
  <td>
    {% include 'base/components/fields.html' with field=acco_form.accommodation %}
  </td>
  <td style="white-space: nowrap">
    {{ acco_form.cost }}
  </td>
  <td>
    {% include 'base/components/fields.html' with field=acco_form.period %}
    <span class="d-none">
      {% include 'base/components/fields.html' with field=acco_form.other_period %}
    </span>
  </td>
  <td>
    <br style="margin-top: 6px"/>
    {% csrf_token %}
    <input type="hidden" name="form" value="accommodation"/>
    <input type="submit" class="btn btn-darkblue" style="float: right" value="{% trans 'Save' %}"/>
  </td>
</tr>