@import "../../../bootstrap/variables";

// Custom Checkbox and Radio Styles

.checkbox-label {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: inherit;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  > .indicator {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
}

/* Hide the browser's default checkbox */
.checkbox-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* On mouse-over, add a grey background color */
.checkbox-label:hover input ~ .indicator {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-label input:checked ~ .indicator {
  background-color: $green;
}

/* Create the indicator/indicator (hidden when not checked) */
.indicator:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator when checked */
.checkbox-label input:checked ~ .indicator:after {
  display: block;
}

/* Style the indicator/indicator */
.checkbox-label .indicator:after {
  left: 9px;
  top: 7px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Customize the label (the radio-label) */
.radio-label {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: inherit;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.radio-label input {
  position: absolute;
  opacity: 0;
  > .indicator {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
}

/* On mouse-over, add a grey background color */
.radio-label:hover input ~ .indicator {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio-label input:checked ~ .indicator {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.indicator:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-label input:checked ~ .indicator:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio-label .indicator:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}