{% load i18n accounts_tags %}

<div class="container">

  <h3 class="card-title">{% trans 'Change your password' %}</h3>
  <hr/>

  {% include 'base/components/fields.html' with field=password_form.old_password %}

  <div class="row">
    <div class="col-xs-12 col-md-6">
      {% include 'base/components/fields.html' with field=password_form.password %}
    </div>
    <div class="col-xs-12 col-md-6">
      {% include 'base/components/fields.html' with field=password_form.confirm_password %}
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-xs-12 col-lg-6">
      <p style="margin-top: 10px;"><span style="color: red;">*</span> {% trans 'marks required inputs.' %}</p>
    </div>
    <div class="col-xs-12 col-lg-6">
      <button class="btn btn-default" type="button" data-toggle="tooltip" data-content="{% trans 'Coming Soon!' %}">{% trans 'Request personal data' %}</button>
      <button class="btn btn-darkblue" type="submit" style="float: right">
        <i class="fa fa-save"></i>
        {% trans 'Save' %}
      </button>
    </div>
  </div>

</div>