{% spaceless %}
<div class="fieldset">
    <div class="field">
        <div class="form-group">
            {% if not widget.attrs.no_label %}
            <label class="control-label" for="{{ widget.name }}">
                {{ widget.attrs.label }}{% if widget.required == True %} <span class="required-indicator">*</span>{% endif %}
            </label>
            {% endif %}
            <div class="input-group">
                {% for field in widget.subwidgets %}
                    {% if forloop.counter == 2 %}
                        <div class="input-group-append">
                    {% endif %}
                    {% if field.type == 'text' %}
                    <input type="{{ field.type }}" name="{{ field.name }}" {% if field.value %}value="{{ field.value }}"{% endif %}
                           id="{{ field.name }}" {% if field.attrs.placeholder %}placeholder="{{ field.attrs.placeholder }}"{% endif %}
                           class="form-control" {% if field.required %}required{% endif %} {% if field.attrs.disabled %}disabled="disabled"{% endif %}/>
                    {% else %}
                    <select id="{{ field.name }}" class="selectpicker form-control" name="{{ field.name }}" data-live-search="true">
                        {% for group in field.optgroups %}
                            <option value="{{ group.1.0.value }}" {% if field.value.0 == group.1.0.value %}selected{% endif %}>{{ group.1.0.label }}</option>
                        {% endfor %}
                    </select>
                    {% endif %}
                    {% if forloop.counter > 1 and forloop.last %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endspaceless %}
