{% load staticfiles cms_tags sekizai_tags %}

<div class="video-overlay">
  {% placeholder 'Background Video' %}
  <div class="container overlay">
    <div class="row">
      <div class="col-12">
        <h1>{% placeholder 'Slider Headline' %}</h1>
        <h2>{% placeholder 'Slider Sub-Headline' %}</h2>
      </div>
    </div>
    {% placeholder 'CTA Section & Searchbar' %}

    <div class="row action-button">
      <a href="#" class="col-12" id="chevron-down">
      <i class="fa fa-chevron-circle-down"></i>
      </a>
    </div>
  </div>
</div>

{% placeholder "Vision Section (3 Cols)" %}