{% load i18n %}

<div class="step" id="companydata">

  <h3>{% trans 'Information about Your Company' %}</h3>
  <hr/>

  <div class="row">

    <div class="col-12">
      {% include 'base/components/fields.html' with field=company_form.name %}
    </div>

    <div class="col-12">
      {% include 'base/components/fields.html' with field=profile_form.address %}
    </div>

    <div class="col-xs-12 col-lg-4">
      {% include 'base/components/fields.html' with field=profile_form.zip_code %}
    </div>
    <div class="col-xs-12 col-lg-8">
      {% include 'base/components/fields.html' with field=profile_form.city %}
    </div>

  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-6">
      {% include 'base/components/fields.html' with field=profile_form.country %}
    </div>
    <div class="col-xs-12 col-lg-6">
      {% include 'base/components/fields.html' with field=profile_form.operator_type %}
    </div>
  </div>
  <div class="row">

    <div class="col-xs-12 col-lg-6">
      {% include 'base/components/fields.html' with field=profile_form.phone %}
    </div>
    <div class="col-xs-12 col-lg-6">
      {% include 'base/components/fields.html' with field=profile_form.contact_email %}
    </div>

    <div class="col-12">
      <br/>
      <h5>{% trans 'Legal Terms' %}</h5>
      <hr/>
    </div>

    <div class="col-12">
      {% include 'base/components/fields.html' with field=user_form.agree_to_privacy %}
      <small><a href="/flat/privacy/" target="_blank"><i class="fa fa-chevron-right"></i> {% trans 'Our Privacy Terms' %}</a></small>
    </div>
    <div class="col-12">
      <br/>
      {% include 'base/components/fields.html' with field=user_form.agree_to_tos %}
      <small><a href="/flat/tos/" target="_blank"><i class="fa fa-chevron-right"></i> {% trans 'Our Terms of Service' %}</a></small>
    </div>

  </div>

  {% include 'base/components/forms/form-navigation.html' with final_step=True registration=True %}

</div>