{% extends 'email/base/email-base.html' %}
{% load i18n %}

{% block headline %}
    {% trans 'Your password reset inquiry' %}
{% endblock %}

{% block body %}
    <p>{% trans 'Hello' %} {{ user.get_short_name }},</p>
    <p>{% trans 'Here is a link to reset your password.' %}</p>
    <p>{% trans 'To do the reset please follow the link below' %}:</p>
    <hr/>
    <a href="{% if request.is_secure %}https{% else %}http{% endif %}://{{ request.get_host }}{% url 'accounts:reset_password' %}?token={{ token }}">
        {% if request.is_secure %}https{% else %}http{% endif %}://{{ request.get_host }}{% url 'accounts:reset_password' %}?token={{ token }}
    </a>
    <br/>
    <small>{% trans 'Hint: If the link does not work please copy the link into your browser.' %}</small>
    <hr/>
{% endblock %}
