{% load i18n %}
<form class="row" action="{% url 'faq:post_answer' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="identifier" value="{{ identifier }}">
    <input type="hidden" name="redirect" value="{{ request.path }}#faq">
    <input type="hidden" name="parent" value="{{ parent }}">
    <div class="col-xs-12 col-lg-10">
        {% include 'base/components/fields.html' with field=form.text disable_quill=True %}
    </div>
    <div class="col-xs-12 col-lg-2">
        <br/>
        <button type="submit" class="btn btn-darkblue">{% trans 'Answer' %}</button>
    </div>
</form>
